In [1]:
from final_model import RecommenderPipeline

In [7]:
recommender = RecommenderPipeline()
recommender.fit()

recommender.recommend(24000)

IndexError: index 24000 is out of bounds for axis 0 with size 15997

In [3]:
recommender.cold_recommend()

                                           Book-Title        ISBN
0       Suppressed Inventions &amp; Other Discoveries  0895298090
1   Be Angry [but Don't Blow It] &lt;i>maintaining...  0785269886
2               Wayside School Gets a Little Stranger  0807281530
3                            Selected Poems 1957-1981  0571119166
4   Libertad Y Creatividad En LA Educacion: En LA ...  8475094015
5                     Vom GlÃ?Â¼ck in den StÃ?Â¤dten.  3552051783
6                      The Science in Science Fiction  0394530101
7   Noah's Garden: Restoring the Ecology of Our Ow...  0395653738
8                                     Ice and Rapture  0843933763
9         Earth: Pleiadian Keys to the Living Library  1879181215
10  The Penguin Dictionary of Modern History, 1789...  0140510265
11                         The Tafts (First Families)  0896866475
12                             The Pentagon's New Map  0399151753
13                                  La Divina Comedia  840803085X
14            Inu-Yasha : A Feudal Fairy Tale, Vol. 1  1569312621
15                Rhymes and Songs for the Very Young  0760703604
16          The Illustrated Guide to Celtic Mythology  0517121794
17                Arthur C. Clarke's mysterious world  0002165368
18                               If I Ran the Zoo-OSI  0394845455
19                                     Taoist I Ching  0394743873

In [4]:
from final_model import user_rating_books_ds

In [5]:
user_rating_books_ds

         User-ID  ... Book-Rating
0              2  ...           0
1              8  ...           5
2              8  ...           0
3              8  ...           0
4              8  ...           0
...          ...  ...         ...
1031131   278854  ...           7
1031132   278854  ...           0
1031133   278854  ...           6
1031134   278854  ...           0
1031135   278854  ...           8

[1031136 rows x 3 columns]

In [17]:
user_rating_books_ds[user_rating_books_ds['User-ID'] == 2].empty

False

In [9]:
import numpy as np
np.max(user_rating_books_ds['User-ID'] )

278854